@import 'scss/reset';
@import 'scss/base';

body {
    background-color: black;
}

.navBar {
    height: 10%;
    color : white;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom-color: white;
    border-bottom: solid;


    p#title {
        margin-left: 2vw;
    }

    p#first {
        margin-left: 20vw;
    }

    p#last{
        margin-left: 18vw;
    }

    h1 {
        font-size: calc(54vw * 100 / 1440);
        margin-bottom: calc(12vw * 100 / 1440);
    }

    .fct {
        padding: 5vw;
    }

    p {
        font-size: calc(24vw * 100 / 1440);
    }
}

.ideas{
    height: 20vw;
    width: 50%;
    background: white;
}

.boost{
    height: 20vw;
    width: 50%;
    background: white;
    margin-left: 2vw;
}

.scdfromTop{
    flex-direction: row;
    display:flex;
    margin-top: 4vw;
    margin-left:2vw;


}
a {
    text-decoration: underline;
}
